<head>
    <link href="css/grid.css" rel="stylesheet">
    <script src="js/game.js" type="application/javascript"></script>
</head>
<h2 class="header" id="player-title">{{#cpuTurn}}CPU Moves{{/cpuTurn}}
    {{^cpuTurn}}Player {{turn}} moves{{/cpuTurn}}</h2>
    <div hidden id="game-type">{{gameType}}</div>
    <div hidden id="player-turn">{{turn}}</div>
    <div hidden id="game-over">false</div>
    <div hidden id="lock">false</div>
    <div class="play-area">
        {{#array}}
        <div id="block_{{spot}}" class="block">
            {{#is_x}}
                <img src="../assets/x.svg">
            {{/is_x}}
            {{#is_o}}
                <img src="../assets/circle.svg">
            {{/is_o}}
        </div>
        {{/array}}
    </div>
<div class="d-grid col-2 mx-auto">
    <button id='btn_replay' type="button" class="btn btn-primary btn-lg" style="margin-bottom: 1rem" hidden>Replay</button>
</div>
