<head>
    <link href="css/menu.css" rel="stylesheet">
</head>
<div id="menu-select" class="d-grid col-4 mx-auto">
    <button type="button" class="btn btn-primary btn-lg">Singleplayer</button>
    <button type="button" class="btn btn-primary btn-lg">Multiplayer</button>
    <button type="button" class="btn btn-primary btn-lg">Credits</button>
</div>