<head>
    <link href="css/menu.css" rel="stylesheet">
    <script src="js/menu.js" type="application/javascript"></script>
</head>
<div id="menu-select" class="d-grid col-4 mx-auto">
    <button id='btn_single' type="button" class="btn btn-primary btn-lg">Singleplayer</button>
    <button id='btn_multi' type="button" class="btn btn-primary btn-lg">Multiplayer</button>
</div>