<head>
    <link href="css/grid.css" rel="stylesheet">
    <script src="js/game.js" type="application/javascript"></script>
</head>
    <div class="play-area">
        <div id="block_0" class="block"></div>
        <div id="block_1" class="block"></div>
        <div id="block_2" class="block"></div>
        <div id="block_3" class="block"></div>
        <div id="block_4" class="block"></div>
        <div id="block_5" class="block"></div>
        <div id="block_6" class="block"></div>
        <div id="block_7" class="block"></div>
        <div id="block_8" class="block"></div>
    </div>
