<head>
    <link href="css/grid.css" rel="stylesheet">
    <script src="js/game.js" type="application/javascript"></script>
</head>
<h2 class="header">{{#cpuTurn}}CPU Moves{{/cpuTurn}}
    {{^cpuTurn}}Player {{turn}} moves{{/cpuTurn}}</h2>
    <div class="play-area">
        {{#array}}
        <div id="block_{{spot}}" class="block">
            {{#is_x}}
                <img src="../assets/x.svg">
            {{/is_x}}
            {{#is_o}}
                <img src="../assets/circle.svg">
            {{/is_o}}
        </div>
        {{/array}}
    </div>
