<head>
    <link href="css/grid.css" rel="stylesheet">
    <script src="js/game.js" type="application/javascript"></script>
</head>
<h2 class="header">{{#cpuTurn}}CPU Moves{{/cpuTurn}}
    {{^cpuTurn}}Player {{turn}} moves{{/cpuTurn}}</h2>
    <div class="play-area">
        {{#array}}
        <div id="block_{{spot}}" class="block">
            {{#is_x}}
                <img src="../assets/x.svg">
            {{/is_x}}
            {{#is_o}}
                <img src="../assets/circle.svg">
            {{/is_o}}
        </div>
        {{/array}}
    </div>

<!-- Modal -->
<div class="modal fade" id="info-popup" tabindex="-1" aria-labelledby="info-popup-label" aria-hidden="true">
    <div class="modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="info-popup-label">{{gameType}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{#cpuTurn}}CPU will go first{{/cpuTurn}}
                {{^cpuTurn}}Player {{turn}} will go first{{/cpuTurn}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Start Game</button>
            </div>
        </div>
    </div>
</div>